.about{
    display: flex;
    gap: 200px;
    margin-top: 100px;

}

.about-left{
    padding-left: 110px;
}

.about-left p{
    font-size: 15px;
    font-weight: 500;
    color: rgb(62, 61, 61);
}

.about-left h2{
    font-size: 50px;
    line-height: 60px;
    margin-top: -10px;
    color: rgb(38, 38, 43);
}

.about-right{
    width: 400px;
    height: 200px;
    /* overflow: hidden; */
    box-shadow: 0px 0px 8px -5px;
    border-radius: 16px;
    /* text-align: center; */
    /* margin-top: 100px;
    margin-left: 50px; */
}

.mike-image{
    overflow:hidden;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    margin-left: -25px;
    border-radius: 11px;
    font-size: 14px;
    background-color: red;
    color: white;
    border-radius: 85px;
}

.about-right p{
    margin-left: 20px;
   
}

/* Responsive code starts here */
@media (max-width: 768px){
    .about{
       flex-direction: column;
    }
    .about-right{
        margin-left: 100px;
        margin-top: -150px;
    }
}
